.templates-right-col {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: white;
  margin-right: 2em;
  margin-top: 1em;
  font-family: Lato, "Open Sans", sans-serif;
  margin-left: -1.3em;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  height: 100vh;
}

.templates-header {
  background: var(--blue-color);
  color: white;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  height: 3em;
  display: flex;
  align-items: center;
  padding-left: 1em;
}

.create-template {
  width: 190.3px;
  height: 34px;
  color: var(--blue-color);
  font-weight: bold;
  line-height: 21px;
  /* font-size: 12px; */
  font-size: 14px;
  font-family: Lato;
  border: 1px solid var(--blue-color);
  margin-top: 2em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: white;
  cursor: pointer;
}

.upgrate-template {
  text-align: center;
  font-family: Lato;
  /* font-size: 11.6px; */
  font-size: 13px;
  color: #779ae0;
  line-height: 21px;
  font-weight: lighter;
  margin-top: 5px;
  letter-spacing: 0.4px;
  cursor: pointer;
}

@media screen and (min-width: 850px) {
  .templates-wrapper {
    display: grid;
    grid-template-columns: 28% 1fr;
    width: 100%;
  }
  .templates-right-col {
    margin-right: 2em;
    margin-left: -1.3em;
  }

  .upgrate-template {
    /* font-size: 12px; */
    font-size: 13.5px;
  }
}
